<% layout('boilerplate') %> 
    <div class="card text-center" style="width: 18rem;">
        <img src=<%=url%> class="card-img-top" alt="">
        <div class="card-body">
          <a href="/" class="btn btn-primary">Create Another QrCode</a>
        </div>
      </div>