<% layout('boilerplate') %> 
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title mb-2"><%=per.name%></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%=per.city%>,<%=per.state%></h6>
          <p class="card-text mb-2"><b>Address :</b> <%=per.address%></p>
          <a href="/" class="btn btn-primary">Create Another QrCode</a>
        </div>
      </div>
